.uzr.fl.corner.borderg.mm {
    border-left: 2px solid #333333;
    margin-left: 0!important;
    border-radius: 0!important;
    width: 100%!important;
    border-top: 0.7px solid #eee!important;
    border-bottom: 0.7px solid #eee!important;
    margin-bottom: 0!important;
    line-height: 26px;
}
.notadmin .fl.u-msg {
    width: 95% !important;
    padding: 10px !important;
    text-align: center !important;
    outline-offset: -6px;
    border-radius: 5px;
    border: 1px solid #2c2c2c;
    box-shadow: 8px 3px 5px -3px #000;
    margin-bottom: 30px;
    margin-left: 7px;
    overflow: auto;
    height: 79px;
    background: #c9c6c687;
    margin-top: 10px;
    font-size: 14px !important;
}
.uzr.fl.corner.borderg.mm, .uzr.fl.corner.borderg.mm {
    margin: 1px 0;
    border-Right: 3px solid #ff6094;
    border-Left: 3px solid #ff6094;
    border-Top: 1px solid #ff6094;
    border-bottom: 1px solid rgb(81, 72, 72);
    padding-Top: 3px;
    border-Radius: 0px !important;
    border-radius: 0px !important;
    border: none !important;
    border-top: 1px #eee solid !important;
    border-bottom: 1px #ccc solid !important;
}
.pmsgc {
    background: #0000001b;
    outline: 1px dashed #d9534f;
    outline-offset: -5px;
    /* color: #ffffff; */
    background-size: auto;
    background-position: 100% 0%;
    background-color: #33333361 !important;
}

.ae.fa.label.label-primary.fa-user {
    display: inline-block;
    position: relative;
    height: 2em;
    width: 2.5em;
    border-radius: 50%!important;
    z-index: 100;
    right: 0;
    border-radius: 0;
    border-color: #000000 !important;
    width: 50px !important;
    padding: 7px 12px 5px 9px!important;
    border-radius: 21px 0 0 17px!important;
    border-style: solid!important;
    border-left: 4px solid!important;
    border-left-style: groove !important;
    border-right: 2px solid #dc3545 !important;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgb(0 0 0 / 0%);
    position: relative;
}
.ae.fa.chats.label.fa-comment.label-primary {
    display: inline-block;
    position: relative;
    height: 2em;
    width: 2.5em;
    border-radius: 50%!important;
    z-index: 100;
    right: 0;
    border-radius: 0;
    border-color: #000000 !important;
    width: 50px;
    padding: 7px 10px 5px!important;
    margin-left: -7px!important;
    border-radius: 0!important;
    border-left: 2px solid #dc3545 !important;
    border-right: 2px solid #dc3545 !important;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgb(0 0 0 / 0%);
    position: relative;
}
.ae.fa.label.label-primary.fa-users {
    display: inline-block;
    position: relative;
    height: 2em;
    width: 2.5em;
    border-radius: 50%!important;
    z-index: 100;
    right: 0;
    border-radius: 0;
    border-color: #000000 !important;
    width: 50px;
    padding: 7px 10px 5px!important;
    margin-left: -7px!important;
    border-radius: 0!important;
    border-left: 2px solid #dc3545 !important;
    border-right: 2px solid #dc3545 !important;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgb(0 0 0 / 0%);
    position: relative;
}
.ae.label.label-primary.fa.fa-gear {
    display: inline-block;
    position: relative;
    height: 2em;
    width: 2.5em;
    border-radius: 50%!important;
    z-index: 100;
    right: 0;
    border-radius: 0;
    border-color: #000000 !important;
    width: 50px;
    padding: 7px 5px 5px !important;
    border-radius: 0 23px 22px 0!important;
    border-style: solid!important;
    border-right: 4px solid!important;
    border-right-style: ridge!important;
    margin-left: -1px!important;
    border-left: 2px solid #dc3545 !important;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgb(0 0 0 / 0%);
    position: relative;
}
.ae.fa.label.fa-commenting-o.label-primary {
    display: inline-block;
    position: relative;
    height: 2em;
    width: 2.5em;
    border-radius: 50%!important;
    z-index: 100;
    right: 0;
    border-radius: 0;
    border-color: #000000 !important;
    width: 50px;
    padding: 7px 10px 5px!important;
    margin-left: -7px!important;
    border-radius: 0!important;
    border-left: 2px solid #dc3545 !important;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgb(0 0 0 / 0%);
    position: relative;
}
.fa-gear:before, .fa-cog:before {
    content: ""!important;
    visibility: initial;
    margin-left: 4px;
}
.fa-commenting-o:before {
    content: "\f044";
    display: inline!important;
    margin-left: 4px;
}
.ae.fa.chats.label.label-primary.fa-comment:before {
    content: "";
    display: inline!important;
    margin-left: 4px;
}
.fa-user:before {
    display: inline!important;
    margin-left: 4px;
    content: "\f007";
}
span.minix.badge.border, span.bwall.minix.badge.border, span.brooms.minix.badge.border {
    display: none!important;
}
span.fr.uhash {
    position: absolute;
    margin-left: 203px;
    margin-top: 2px!important;
}
.fa.fa-send.fl.btn.btn-primary {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    background: #fff!important;
    border-radius: 50%;
    width: 42px;
    height: 30px;
    font-size: 0;
    color: #000;
}

.fl.btn.btn-primary {
    height: 25px!important;
    border-radius: 0 0 30px 30px!important;
    border-bottom: 0 solid#fff!important;
    border-right: 0.5px solid#fff!important;
    border-left: 0.5px solid#fff!important;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12),0 -3px 1px -2px rgba(0,0,0,.2)!important;
    background-image: radial-gradient(circle,#484848,#888,#000)!important;
    font-family: jazeera,FontAwesome;
    font-size: 11px!important;
}
.tbox {
    padding: 3px;
    min-height: 28px!important;
    border-right: 5px solid;
    border-left: 5px solid;
    border-color: #d2d2d2;
    border-left-style: groove;
    border-right-style: ridge;
    border-radius: 3px!important;
}
.fl.btn.btn-primary {
    height: 25px!important;
    border-radius: 0 0 30px 30px!important;
    border-bottom: 0 solid#fff!important;
    border-right: 0.5px solid#fff!important;
    border-left: 0.5px solid#fff!important;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12),0 -3px 1px -2px rgba(0,0,0,.2)!important;
    background-image: radial-gradient(circle,#484848,#888,#000)!important;
    font-family: jazeera,FontAwesome;
    font-size: 11px!important;
}
@font-face{font-family:'lemonada';src: url('https://www.fontstatic.com/fonts/lemonada/lemonada.eot?#iefix');src: local('ليمونادة'), local('lemonada'),url('https://www.fontstatic.com/fonts/lemonada/lemonada.woff') format('woff');}@font-face{font-family:'lemonada-light';src: url('https://www.fontstatic.com/fonts/lemonada-light/lemonada-light.eot?#iefix');src: local('ليمونادة خفيف'), local('lemonada-light'),url('https://www.fontstatic.com/fonts/lemonada-light/lemonada-light.woff') format('woff');}
}
.bgf{
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}
@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .bgf {
    background-color: rgba(0, 0, 0, .5);
  }
}
.fl.ustat {
    border-radius: 3px;
    margin-right: -47px;
    width: 48px!important;
    height: 48px!important;
}
span.fr.uhash {
    position: absolute;
    margin-left: 225px;
    margin-top: 2px!important;
}
.bg {
    border-radius: 8px;
    box-shadow: 5px 4px 10px #000;
    border: 3px solid hsla(0,0%,100%,.8588235294117647)!important;
    background: hsla(0,0%,100%,.8588235294117647)!important;
}
#as3 {
    top: 83px!important;
    text-align: center!important;
    text-decoration: dotted;
    color: #fff;
    margin-left: 5px !important;
    display: inline-block;
    border-radius: 3px;
    border-image: initial;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 5px rgba(0, 0, 0, 0.64)!important;
}
label.fl.label.loginstat {
    float: left!important;
    border-radius: 0 7px 7px 0!important;
    position: absolute;
    top: 1px;
    left: 0;
    padding: 3px 6px 2px 8px !important;
    margin-top: 553px!important;
    font-size: 14px!important;
    margin-left: -4px!important;
z-index: 3;
    position: absolute;
background-color: hsla(0, 0%, 100%, 0) !important;
    border: hsla(0, 0%, 100%, 0) !important;
}
span.busers.minix.badge.border, span.s1.fa.fa-user.label.badgex.label-as-badge.label-success, a#asim27 {
    background-color: hsla(0, 0%, 100%, 0) !important;
    border: hsla(0, 0%, 100%, 0) !important;
}

span.s1.fa.fa-user.label.badgex.label-as-badge.label-success {
    font-size: 12px!important;
    background-color: #d01b1b00;
    color: #fff;
}
div#tlogins img.fl.u-ico {
    margin-top: 8px!important;
}

div#tlogins .fl.u-ico {
    display: none;
}
div#tlogins img.fl.u-ico {
    margin-top: 8px!important;
}
div#tlogins span.corner.u-topic.dots {
    float: left!important;
    margin-top: 8px!important;
    border-radius: 5px!important;
    margin-right: -110px!important;
    max-width: 140%!important;
    left: 0!important;
    display: none;
    margin-left: 0!important;
}

div#tlogins .u-topic.dots {
    width: 800px;
}
div#tlogins .fl.mini.u-msg {
    margin-top: 3px!important;
    border-radius: 3px!important;
}

div#tlogins .fl.mini.u-msg {
    display: none;
}
img.fr.co {
    margin-left: -23px;
    margin-top: 8px;
}
.fr.co {
    transform: rotate(
100deg);
    height: 10px;
    width: 16px!important;
    margin-top: 12px;
    box-shadow: inset 1px 1px 1px 1px rgb(152 106 136 / 21%), 0 0 5px #986a88;
}
div#tlogins .hand.nosel.fl.uzr.borderg {
    background-color: #ffffff00!important;
    border-radius: 0px!important;
    width: 17%!important;
}

.hand.nosel.fl.uzr.borderg {
    border: 1px solid #e6e6fa00;
    border-top-color: rgba(230,230,250,0);
    border-top-style: solid;
    border-top-width: 1px;
}
img.fr.co {
    margin-left: -23px;
    margin-top: 8px;
}

.fr.co {
    transform: rotate(
100deg);
    height: 10px;
    width: 16px!important;
    margin-top: 12px;
    box-shadow: inset 1px 1px 1px 1px rgb(152 106 136 / 21%), 0 0 5px #986a88;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #e6cb0a;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    font-family: jazeera,FontAwesome;
}
div#tlogins img.fitimg.fl.u-pic {
    padding: 0;
    border-radius: 6px;
    margin-right: 0;
    margin-left: 8px!important;
    box-shadow: inset 1px 1px 1px 1px rgb(152 106 136 / 21%), 0 0 5px #986a88;
    width: 45px!important;
    height: 45px!important;
}
.lonline.light.break {
    height: 148px!important;
    outline: #d3d3d300 solid 0px!important;
    background-color: #ffffff00!important;
    margin-left: 57px;
}
.fitimg.fl.u-pic {
    margin-top: 2px;
    border-radius: 6px;
}
ul.nav.nav-tabs {
border-radius: 15px 15px 15px 15px;
    width: 91% !important;
    height: 318px;
    font-size: 14px !important;
    color: #fff;
    padding: 0px 0 !important;
    margin-left: 23px;
    background-color: #4040404f!important;
    margin-top: 10px;
    position: absolute;
}
.nav-tabs>li {
    margin-bottom: 12px;
}

.nav-tabs>li {
    background: 0 0;
    width: 50%;
    margin-left: 2px;
    border-radius: 50px;
    height: 35px!important;
}
div#l1, div#l2, div#l3 {
background-color: rgb(255 255 255 / 15%);
}
.label.label.label-primary.mini.fl, div#l1, div#l2, div#l3, ul.nav.nav-tabs.fl li a {
    box-shadow: inset 0 0px 0px rgba(0,0,0,0.075), 0 0 8px rgba(0, 0, 0, 1.64)!important;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background-color: #274054;
}
.nav-tabs>li>a {
    background-color: #3b5678;
    background-image: url(https://www.n1w.net/sico/z1fiqbddp310.gif);
    margin: 4px 38px 4px 43px;
    text-align: center;
    width: 169%;
    position: absolute;
color: #ffffff;
    margin-top: 129px!important;
    margin-left: 15px!important;
    border-radius: 25px;
    height: 100%!important;
    padding: 6px 0!important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 5px rgba(0,0,0,.64)!important;
font-family: 'lemonada-light';
                font-size: 14px !important;
}
.nav-tabs>li>a.fa-user:before {
visibility: collapse;
}
.fa-user-plus:before {
visibility: collapse;
}
.nav-tabs>li {
    margin-bottom: 12px;
}
.nav.nav-tabs.fl {
    width: 200%!important;
    top: 370px!important;
}

.nav.nav-tabs.fl {
    background-color: #fff0!important;
    position: absolute;
    top: 153px;
}

a.label.label-primary.fl {
visibility: collapse;
}
.fr.borderg {
visibility: collapse;
}
div#tlogins {
    background-image: url(https://mrkzgulfup.com/uploads/164020467790131.jpg);
    box-shadow: inset 0px 0px 5px rgb(255 255 255), 0 0 10px #ffffff8a!important;
    background-position: 50% 50%;
}
.label.label.label-primary.mini.fl, div#l1, div#l2, div#l3, ul.nav.nav-tabs.fl li a {
    box-shadow: inset 0 0px 0px rgba(0,0,0,0.075), 0 0 8px rgba(0, 0, 0, 1.64)!important;
}
div#l1, div#l2, div#l3 {
z-index: 3;
    position: absolute;
    width: 79%!important;
    margin-top: 75px!important;
    margin-left: 45px!important;
    height: 120px;
    top: 160px;
    background-image: -webkit-linear-gradient( 
45deg,rgba(114,111,118,0) 25%,rgba(130,130,130,0) 25%,rgb(59 86 120) 50%,rgba(255,255,255,.2) 50%,rgba(255,255,255,.2) 75%,transparent 75%,transparent)!important;
}
div#l1 input#u1, div#l2 input#pass1, div#l2 input#u2, div#l3 input#pass2, div#l3 input#u3 {
    width: 103%;
    margin-left: -5px!important;
    height: 30px;
    font-family: 'lemonada-light';
    text-align: center;
}
div#l1 button.btn.btn-primary, div#l2 button.btn.btn-primary, div#l3 button.btn.btn-primary {
    width: 100px;
    position: inherit;
    height: 30px;
    margin-bottom: 0;
    padding: 0;
    right: 98px;
    font-family: 'lemonada-light';
    border-radius: 25px!important;
    top: 75px;
}
label.fl.label.loginstat, ul.nav.nav-tabs.fl li a {
    font-family: 'lemonada-light';
}

label.fl.label.loginstat, ul.nav.nav-tabs.fl li a {
    font-family: 'lemonada-light';
}
.bord {
    border-inline: 4px solid dodgerblue!important;
}
@font-face{font-family:'jazeera';src: url('https://www.fontstatic.com/fonts/jazeera/jazeera.eot?#iefix');src: local('الجزيرة'), local('jazeera'),url('https://www.fontstatic.com/fonts/jazeera/jazeera.woff') format('woff');}
@font-face{font-family:'jazeera-light';src: url('https://www.fontstatic.com/fonts/jazeera-light/jazeera-light.eot?#iefix');src: local('الجزيرة خفيف'), local('jazeera-light'),url('https://www.fontstatic.com/fonts/jazeera-light/jazeera-light.woff') format('woff');}

.label.label.label-primary.mini.fl, div#l1, div#l2, div#l3, ul.nav.nav-tabs.fl li a {
    box-shadow: inset 0 0px 0px rgba(0,0,0,0.075), 0 0 8px rgba(0, 0, 0, 1.64)!important;
}

label.label.label-primary.mini.fl {
    border-radius: 30px!important;
    height: 20px;
    background-color: #ff4a4aa8!important;
margin-top: 310px!important;
font-family: jazeera,FontAwesome;
}
div#tlogins img.fitimg.fl.u-pic {
    padding: 0;
    border-radius: 6px;
    margin-right: 0;
    margin-left: 8px!important;
    box-shadow: inset 1px 1px 1px 1px rgb(152 106 136 / 21%), 0 0 5px #986a88;
    width: 45px!important;
    height: 45px!important;
}

.fitimg.fl.u-pic {
    margin-top: 2px;
    border-radius: 6px;
}
