


a#asim27 {
    text-decoration: none;
    font-size: 8px!important;
    color: #75aeb4!important;
    background: #fff0!important;
    height: 12px;
    margin: 0 0 0 19px;
    line-height: 9px;
    position: absolute;
    top: 153px;
    width: 148px;
}
asim1sckorte {
pointer-events: none;
    width: 32%!important;
    height: 20px;
    color: #fff;
    border: none!important;
    margin: 0;
    border-left: 2px solid #f7d322!important;
    padding: 1px 15px 0 0;
    border-radius: 0 0 0 1px!important;
    border-bottom: 1px solid #f7d322!important;
    font-family: 'jazeera',FontAwesome;
    font-size: 11px!important;
    margin-left: 273px;
    /* margin: 16px; */
    color: #fefffc;
    font-size: 12px;
    position: absolute;
    background: #050505;
    z-index: 3;
    padding: 3px 3px;
    top: 3px;
    border-left: 5px solid #f8f8f8;
    text-align: center;
    font-family: el messiri,FontAwesome!important;
}


div#d2bc .uzr.fl.corner.borderg {
    border-radius: 9px!important;
    margin: 3px 1px -1px 2px !important;
    border-color: #000;
    width: 95%;
    background: repeating-linear-gradient( 
45deg,hsla(0,0%,100%,.8),#fff 100px,hsla(0,0%,100%,.6901960784313725) 0,rgba(255,246,246,.6) 200px),repeating-linear-gradient( 
-45deg,hsla(0,0%,100%,.5),hsla(0,0%,100%,.93) 100px,hsla(0,3.8%,69%,.8196078431372549) 0,hsla(0,0%,100%,.9019607843137255) 200px);
    color: #0f0202;
    padding: 2px 1px;
    left: 6px;
    border-radius: 0 14px 0 14px;
    box-shadow: 0 0 10px 0 #000;
}
a[href="#l1"] {
    transition: all 1s ease-in-out;
}
a[href="#l2"] {
    transition: all 1s ease-in-out;
}
a[href="#l3"] {
    transition: all 1s ease-in-out;
}
.u-pic.lazy.fitimg {
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
width: 158px;
    height: 158px;
    border-radius: 20px;
}
.u-pic.lazy.fitimg {
    Animation: rotate-vert-center 10.5s linear infinite both;
}


button.border.btn.label.label-success.fl.fa.fa-plus {
    color: #ffffff !important;
    font-family: jazeera, FontAwesome;
    width: 100%;
    border-radius: 0px;
    border: 1px solid rgb(255 255 255);
    content: " YAH";
    text-align: center!important;
}
.label.tc.border.btn.label-info.fl {
color: #0000ff7a;
    display: inline !important;
    padding: 2px 0 0 2px;
cursor: pointer;
    text-align: center;
    padding-top: .3em;
    border: 1px solid #000;
    margin-top: 3px;
    height: 32px;
    font-weight: 700;
    position: relative;
    margin-bottom: .2rem;
    border-radius: 40px 40px 0px 40px !important;
    border: 1px solid #FFE0F6 !important;
font-family: 'jazeera',FontAwesome;
}
 
.label.tc.border.btn.label-danger.fl {
cursor: pointer;
    text-align: center;
    padding-top: .3em;
    border: 1px solid #000;
    margin-top: 3px;
    height: 32px;
    font-weight: 700;
    position: relative;
    margin-bottom: .2rem;
    border-radius: 40px 40px 0px 40px !important;
    border: 1px solid #FFE0F6 !important;
font-family: 'jazeera',FontAwesome; 
}
.label.tc.border.btn.label-danger.fl {
cursor: pointer;
    text-align: center;
    padding-top: .3em;
    border: 1px solid #000;
    margin-top: 3px;
    height: 32px;
    font-weight: 700;
    position: relative;
    margin-bottom: .2rem;
    border-radius: 40px 40px 0px 40px !important;
    border: 1px solid #FFE0F6 !important;
font-family: 'jazeera',FontAwesome; 
}
.label.tc.border.cp.btn.label-danger.fl {
cursor: pointer;
    text-align: center;
    padding-top: .3em;
    border: 1px solid #000;
    margin-top: 3px;
    height: 32px;
    font-weight: 700;
    position: relative;
    margin-bottom: .2rem;
    border-radius: 40px 40px 0px 40px !important;
    border: 1px solid #FFE0F6 !important;
font-family: 'jazeera',FontAwesome; 
}
.label.border.btn.label-danger.tc.fl {
cursor: pointer;
    text-align: center;
    padding-top: .3em;
    border: 1px solid #000;
    margin-top: 3px;
    height: 32px;
    font-weight: 700;
    position: relative;
    margin-bottom: .2rem;
    border-radius: 40px 40px 0px 40px !important;
    border: 1px solid #FFE0F6 !important;
font-family: 'jazeera',FontAwesome; 
}


.label.tc.border.btn.fl {
cursor: pointer;
    text-align: center;
    padding-top: .3em;
    border: 1px solid #000;
    margin-top: 3px;
    height: 32px;
    font-weight: 700;
    position: relative;
    margin-bottom: .2rem;
    border-radius: 40px 40px 0px 40px !important;
    border: 1px solid #FFE0F6 !important;
font-family: 'jazeera',FontAwesome; 
}

.label.tc.border.btn.bb4.fl {
cursor: pointer;
    text-align: center;
    padding-top: .3em;
    border: 1px solid #000;
    margin-top: 3px;
    height: 32px;
    font-weight: 700;
    position: relative;
    margin-bottom: .2rem;
    border-radius: 40px 40px 0px 40px !important;
    border: 1px solid #FFE0F6 !important;
font-family: 'jazeera',FontAwesome; 
}



input.smsg.corner.dots, input.stopic.corner.dots {
padding: 2px;
    border-right: 3px groove #18191b;
    border-left: 3px groove #161718;
    border-top-color: #17191a;
    border-bottom-color: #161819;
    min-height: 28px!important;
    text-align: center;
    width: 99%!important;
    border-radius: 3px!important;
}
.btn.minix.btn-primary.fa.fa-comment.fr {
    margin-top: 4px;
    margin-right: 13px;
    padding: 4px;
}

.label.label-primary.fr {
    border-radius: 0px;
    font-family: el messiri,FontAwesome!important;
}
.fl.btn.btn-primary {
    height: 25px!important;
border-radius: 0 0 30px 30px!important;
    border-bottom: 0 solid#fff!important;
    border-right: .5px solid#fff!important;
    border-left: .5px solid#fff!important;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12),0 -3px 1px -2px rgba(0,0,0,.2)!important;
    background-image: radial-gradient(circle,#484848,#888,#000)!important;
    font-family: jazeera,FontAwesome;
font-size: 11px!important;
}
.fa.fa-edit {
font-size: 11px!important;
}
.btn.minix.btn-primary.fa.fa-times.fa {
    display: inline !important;
    background-color: #da303059;
    border-radius: 33%;
    border: #8dafb333 solid 1px !important;
    margin-left: -3px;
}

.label-warning {
    background-color: orange;
    padding-right: 1px;
    background-image: url(https://k.top4top.io/p_1871wwqvi1.gif);
display: inline-block;
    position: relative;
    height: 2em;
    width: 2.5em;
    border-radius: 50%!important;
    z-index: 100;
    right: 0;
    border-radius: 0;
content: "à";
}
.ae.fa.chats.label.fa-comment.label-warning {
    background-color: orange;
    padding-right: 1px;
    background-image: url(https://k.top4top.io/p_1871wwqvi1.gif);
display: inline-block;
    position: relative;
    height: 2em;
    width: 2.5em;
    border-radius: 50%!important;
    z-index: 100;
    right: 0;
    border-radius: 0;
content: "à";
}

.btn-primary:focus, .btn-primary:hover {
    background-image: radial-gradient(circle,#484848,#888,#000)!important;
}
.u-pic.lazy.fitimg {
    width: 158px;
    height: 158px;
    border-radius: 20px;
}
.modal-header.label-primary {
    position: relative;
    padding: .1rem;
    width: 100%;
    height: 35px;
    border-radius: 5px;
    text-align: center;
    background-image: repeating-linear-gradient(
45deg
,rgba(0,0,0,.8),#212529 100px,transparent 0,transparent 200px),repeating-linear-gradient(
-45deg
,rgba(0,0,0,.9),#212529 100px,transparent 0,#f8f9fa 200px);
    background-color: #dee2e6!important;
    border: 1px solid #212529;
}
.mini.dots.nosel.modal-title {
float: left;
    border-radius: .2em;
    margin-right: .2em;
    border-radius: 99px;
}
.fa.fa-sign-out.fl.btn.btn-primary {
width: 28px;
    height: 100%;
    font-size: 16px;
    color: rgba(0,0,0,.8);
text-align: center;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    background: #fff!important;
    border-radius: 50%;
}
.fa.fa-send.fl.btn.btn-primary {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    background: #fff!important;
    border-radius: 50%;
    width: 42px;
    height: 30px;
    font-size: 0;
    color: #000;
}
.borderg.corner.fl.u-topic {
padding: 3px;
    min-height: 28px!important;
    border-right: 5px solid;
    border-left: 5px solid;
    border-color: #d2d2d2;
    border-left-style: groove;
    border-right-style: ridge;
    border-radius: 3px!important;
}
.likec {
padding: 3px;
    min-height: 28px!important;
    border-right: 5px solid;
    border-left: 5px solid;
    border-color: #d2d2d2;
    border-left-style: groove;
    border-right-style: ridge;
    border-radius: 3px!important;
}
.usmsg {
padding: 3px;
    min-height: 28px!important;
    border-right: 5px solid;
    border-left: 5px solid;
    border-color: #d2d2d2;
    border-left-style: groove;
    border-right-style: ridge;
    border-radius: 3px!important;
}
a#asim10 {
text-decoration: dotted;
    color: #fff;
    margin-top: -27px!important;
    display: inline-block;
    float: right;
    margin-right: 26px!important;
    border-bottom: 0 solid#fff!important;
    border-right: .5px solid#fff!important;
    border-top: .5px solid#fff!important;
    border-left: .5px solid#fff!important;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12),0 -3px 1px -2px rgba(0,0,0,.2)!important;
float: right;
font-family: jazeera,FontAwesome;
    font-size: 13px!important;
    border-right: 2px solid#47c1d0!important;
    border-left: 2px solid#47c1d0!important;
    margin-top: -25px;
    padding: 0;
    position: relative;
    top: 16px;
}
a#asim11 {
text-decoration: dotted;
    color: #fff;
    margin-top: -27px!important;
    display: inline-block;
    float: right;
    margin-right: -43px!important;
    border-bottom: 0 solid#fff!important;
    border-right: .5px solid#fff!important;
    border-top: .5px solid#fff!important;
    border-left: .5px solid#fff!important;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12),0 -3px 1px -2px rgba(0,0,0,.2)!important;
float: right;
font-family: jazeera,FontAwesome;
    font-size: 13px!important;
    border-right: 2px solid#47c1d0!important;
    border-left: 2px solid#47c1d0!important;
    margin-top: -25px;
    padding: 0;
    position: relative;
    top: 16px;
}
a#asim11 {
text-decoration: dotted;
    color: #fff;
    margin-top: -27px!important;
    display: inline-block;
    float: right;
    margin-right: -65px!important;
    border-bottom: 0 solid#fff!important;
    border-right: .5px solid#fff!important;
    border-top: .5px solid#fff!important;
    border-left: .5px solid#fff!important;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12),0 -3px 1px -2px rgba(0,0,0,.2)!important;
float: right;
font-family: jazeera,FontAwesome;
    font-size: 13px!important;
    border-right: 2px solid#47c1d0!important;
    border-left: 2px solid#47c1d0!important;
    margin-top: -25px;
    padding: 0;
    position: relative;
    top: 16px;
}
a#asim12 {
text-decoration: dotted;
    color: #fff;
    margin-top: -27px!important;
    display: inline-block;
    float: right;
    margin-right: -155px!important;
    border-bottom: 0 solid#fff!important;
    border-right: .5px solid#fff!important;
    border-top: .5px solid#fff!important;
    border-left: .5px solid#fff!important;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12),0 -3px 1px -2px rgba(0,0,0,.2)!important;
float: right;
font-family: jazeera,FontAwesome;
    font-size: 13px!important;
    border-right: 2px solid#47c1d0!important;
    border-left: 2px solid#47c1d0!important;
    margin-top: -25px;
    padding: 0;
    position: relative;
    top: 16px;
}
a#asim13 {
text-decoration: dotted;
    color: #fff;
    margin-top: -27px!important;
    display: inline-block;
    float: right;
    margin-right: -245px!important;
    border-bottom: 0 solid#fff!important;
    border-right: .5px solid#fff!important;
    border-top: .5px solid#fff!important;
    border-left: .5px solid#fff!important;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12),0 -3px 1px -2px rgba(0,0,0,.2)!important;
float: right;
font-family: jazeera,FontAwesome;
    font-size: 13px!important;
    border-right: 2px solid#47c1d0!important;
    border-left: 2px solid#47c1d0!important;
    margin-top: -25px;
    padding: 0;
    position: relative;
    top: 16px;
}

.btn.fr.btn-success.fa.fa-refresh {
padding: 4px 5px;
    background-color: #40404f!important;
    background-image: none;
    border: 2px solid #d6bfd4;
    margin-top: -3px;
    border-radius: 50px;
-webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
}
.ae.fa.label.label-primary.fa-user {
display: inline-block;
    position: relative;
    height: 2em;
    width: 2.5em;
    border-radius: 50%!important;
    z-index: 100;
    right: 0;
border-radius: 0;
  border-color: #000000 !important;
    width: 50px !important;
    padding: 7px 12px 5px 9px!important;
    border-radius: 21px 0 0 17px!important;
    border-style: solid!important;
    border-left: 4px solid!important;
    border-left-style: groove !important;
    border-right: 2px solid #dc3545 !important;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgb(0 0 0 / 0%);
    position: relative;

}
span.busers.minix.badge.border a#asim97 {
 margin-top: 8px;
    padding: 1px 4px;
    position: absolute;
    background-color: #dc3545;
    font-size: 12px;
    margin-left: 2px;
    height: 12px;
    border: hsl(0deg 95% 55% / 0%) !important;
}

.ae.fa.chats.label.fa-comment.label-primary {
display: inline-block;
    position: relative;
    height: 2em;
    width: 2.5em;
    border-radius: 50%!important;
    z-index: 100;
    right: 0;
border-radius: 0;
 border-color: #000000 !important;
    width: 50px;
    padding: 7px 10px 5px!important;
    margin-left: -7px!important;
    border-radius: 0!important;
    border-left: 2px solid #dc3545 !important;
    border-right: 2px solid #dc3545 !important;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgb(0 0 0 / 0%);
    position: relative;
}
.ae.fa.chats.label.label-primary.fa-comment:before {
content: "";   
 display: inline!important;
    margin-left: 4px;
}
span.minix.badge.border, span.bwall.minix.badge.border, span.brooms.minix.badge.border {
    display: none!important;
}
.ae.label.label-primary.fa.fa-tv {
display: inline-block;
    position: relative;
    height: 2em;
    width: 2.5em;
    border-radius: 50%!important;
    z-index: 100;
    right: 0;
border-radius: 0;
}
.fa-tv:before, .fa-television:before {
    visibility: initial;
    margin-left: 4px;
}
.ae.label.label-primary.fa.fa-gear {
display: inline-block;
    position: relative;
    height: 2em;
    width: 2.5em;
    border-radius: 50%!important;
    z-index: 100;
    right: 0;
border-radius: 0;
 border-color: #000000 !important;
    width: 50px;
    padding: 7px 5px 5px !important;
    border-radius: 0 23px 22px 0!important;
    border-style: solid!important;
    border-right: 4px solid!important;
    border-right-style: ridge!important;
    margin-left: -1px!important;
    border-left: 2px solid #dc3545 !important;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgb(0 0 0 / 0%);
    position: relative;
}
.fa-gear:before, .fa-cog:before {
content: ""!important;
    visibility: initial;
    margin-left: 4px;
}

.ae.fa.label.fa-commenting-o.label-primary {
display: inline-block;
    position: relative;
    height: 2em;
    width: 2.5em;
    border-radius: 50%!important;
    z-index: 100;
    right: 0;
border-radius: 0;
  border-color: #000000 !important;
    width: 50px;
    padding: 7px 10px 5px!important;
    margin-left: -7px!important;
    border-radius: 0!important;
    border-left: 2px solid #dc3545 !important;
    border-right: 2px solid #dc3545 !important;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgb(0 0 0 / 0%);
    position: relative;

}
.fa-commenting-o:before {
    content: "\f044";
display: inline!important;
    margin-left: 4px;
}

.ae.fa.label.label-primary.fa-users {
display: inline-block;
    position: relative;
    height: 2em;
    width: 2.5em;
    border-radius: 50%!important;
    z-index: 100;
    right: 0;
border-radius: 0;
 border-color: #000000 !important;
    width: 50px;
    padding: 7px 10px 5px!important;
    margin-left: -7px!important;
    border-radius: 0!important;
    border-left: 2px solid #dc3545 !important;
    border-right: 2px solid #dc3545 !important;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgb(0 0 0 / 0%);
    position: relative;
}

.fa-user:before {
display: inline!important;
    margin-left: 4px;
}

.badge {
  display:inline !important;
  background-color:#7770;
  border-radius:33%;
  border:#1f95a208 solid 1px !important;
  margin-left:-3px;

}

div#menu-l {
  height:55px;
  width:307px;
  float:left;
  position:absolute;
  top:-11px;
  right:-7px;
}

label.fl.nosel.label.pnhead {
    background-color: #101c24;
}

label.fl.nosel.label.pnhead {
    color: #fff;
    background-color: #885867;
    font-size: 15.8px!important;
    padding: 8px;
    width: 85%;
    display: block;
height: 35px;
    background-image: repeating-linear-gradient(
45deg
,rgba(0,0,0,.8),#212529 100px,transparent 0,transparent 200px),repeating-linear-gradient(
-45deg
,rgba(0,0,0,.9),#212529 100px,transparent 0,#f8f9fa 200px);
    background-color: #bfc0c1!important;
    border-radius: 10px;
    border: 1px solid #212529;
    margin-top: -5px;
    margin-bottom: 4px;
font-family: jazeera,FontAwesome;
}
.tbox {
    padding: 3px;
    min-height: 28px!important;
    border-right: 5px solid;
    border-left: 5px solid;
    border-color: #d2d2d2;
    border-left-style: groove;
    border-right-style: ridge;
    border-radius: 3px!important;
}

.pmsgc {
background: #0000001b;
    outline: 1px dashed #717d95;
    outline-offset: -5px;
    background-size: auto;
    background-position: 100% 0%;
}

.light {
background: repeating-linear-gradient( 
45deg
 ,rgba(255,255,255,0.8),rgb(255,255,255) 100px,#ffffffb0 0px,#fff6f699 200px ),repeating-linear-gradient( 
-45deg
 ,rgba(255,255,255,0.5),rgba(255,255,255,0.93) 100px,#b3adadd1 0px,#ffffffe6 200px )!important;
}


.border {
    border: #e8e8e8 solid 1px;
}
.border {
    border: #e8e8e8 solid 1px;
}


.fl fa.fa-envelope-o.btn ui-corner{
    font-weight: 700;
    padding: .2em 0;
    background: rgba(254,255,252,.3137254901960784);
    width: 100px!important;
    height: 28px!important;
    font-size: 12px!important;
    margin-bottom: 4px;
    border: 2px solid #000;
    border-radius: 15px 20px 0 15px;
    font-family: el messiri,FontAwesome!important;
}

.broadcasters {
    width: 99%;
    margin-left: 2px;
    color: #fff;
    border: 1px solid #f9f9f9!important;
    border-radius: 10px;
    background-color: #656571!important;
    background-image: url(https://i.imgur.com/eqGvZEC.gif)!important;
    font-family: Almarai,sans-serif;
}
.broadcasters>div>.prod {
position: relative;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #dcdcdc;
    color: #000;
    display: inline-block;
    font-size: 1.1rem;
    border: 3px solid #989594;
    background-image: url(https://k.top4top.io/p_1871wwqvi1.gif);
}

.bgs {
    padding: 2px 5px;
    border-radius: 10px;
    box-shadow: 5px 4px 30px #000;

    background: hsla(0,0%,100%,.8588235294117647)!important;
    transform: translate(3px,3px);
}

 .bg {
 padding: 2px 5px;
    border-radius: 10px;
    box-shadow: 5px 4px 30px #000;
    border: 3px solid hsla(0,0%,100%,.8588235294117647)!important;
    background: hsla(0,0%,100%,.8588235294117647)!important;
}
div#tlogins img.fitimg.fl.u-pic {
    border-radius: 5px;
    box-shadow: 0 0 3px 0 rgb(0 0 0 / 43%);
    border: 1px solid #6f6f6f;
}

.broadcasters>div>.prods {
    background: #fff;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    padding: .2rem;
    display: inline-block;
    float: right;
    margin-right: .2rem;
    margin-top: .2rem;
    border: 1px solid;
    box-shadow: 0 0 5px 0 #5d5d5d;
    cursor: pointer;
    background-image: url(/images/sound-on.png);
}

div#tlogins ::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}
div#tlogins ::-webkit-scrollbar-button {
    width: 5px;
    height: 5px;
}
div#tlogins ::-webkit-scrollbar-corner {
    background: #000;
}
div#tlogins ::-webkit-scrollbar-thumb {
    background: #000;
    border: 71px none #fff;
    border-radius: 31px;
    background-image: -webkit-linear-gradient(
45deg
,rgba(255,255,255,.2) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.2) 50%,rgba(255,255,255,.2) 75%,transparent 75%,transparent)!important;
}
div#tlogins ::-webkit-scrollbar-track {
    background: #fff;
    border: 65px none #fff;
    border-radius: 34px;



}
@font-face{font-family:'jazeera';src: url('https://www.fontstatic.com/fonts/jazeera/jazeera.eot?#iefix');src: local('الجزيرة'), local('jazeera'),url('https://www.fontstatic.com/fonts/jazeera/jazeera.woff') format('woff');}
@font-face{font-family:'jazeera-light';src: url('https://www.fontstatic.com/fonts/jazeera-light/jazeera-light.eot?#iefix');src: local('الجزيرة خفيف'), local('jazeera-light'),url('https://www.fontstatic.com/fonts/jazeera-light/jazeera-light.woff') format('woff');}
label.fl.label.loginstat.label-success {
    background-color: #454545;


}
#عراق-هوست-يحيى::before {
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    background-color: ##f5f5f5;
    background-repeat: no-repeat;
    background-size: 50% 50%, 50% 50%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    -webkit-animation: rotateThis 3s linear infinite;
    animation: rotateThis 3s linear infinite;
}
a.label.label-primary.fl {
    padding: 5px!important;
    margin-bottom: 2px;
    text-align: center!important;
background-image: radial-gradient(circle,#333333,#333333,#776a6b)!important;
font-family: jazeera,FontAwesome;
}
a.label.label-primary.fl img.fl {
    display: none;
}
.nav-tabs>li {
    float: left;
    margin-bottom: 3px;
}
.checkbox label, .radio label {
      position: relative;
  top: -55px;
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
label.label.label-primary.mini.fl {
pointer-events: none;
    width: 32%!important;
    height: 20px;
    color: #fff;
    border: none!important;
    margin: 0;
    border-left: 2px solid #f7d322!important;
    padding: 1px 15px 0 0;
    border-radius: 0 0 0 1px!important;
    border-bottom: 1px solid #f7d322!important;
    font-family: 'jazeera',FontAwesome;
    font-size: 11px!important;
}
span.s1.fa.fa-user.label.badgex.label-as-badge.label-success {
    font-size: 12px!important;
    background-color: #d01b1b00;
    color: #fff;
}
#Yah3 {
    width: 68%;
    height: 20px;
    color: #fff;
    border-left: 2px solid#303535;
    background-color: #333333;
    border-right: 2px solid #f7d322;
    border-radius: 0 0 1px 0;
    border-bottom: 1px solid #f7d322;
    margin-bottom: -5px;
    font-family: 'jazeera',FontAwesome;
    font-size: 13px!important;
    margin-right: -1px;
    padding: 2px 0 0;
    line-height: 14px;
}
font.Yah12 {
    border: 1px dotted#f0ad4e;
    background-color: #187131;
    padding: 1px 10px 3px 4px;
border-radius: 20px!important;
    color: #fff;
    border-radius: 1px;
    text-align: center;
    border-style: solid;
    border-right: 7px solid;
    border-left: 7px solid;
    border-color: #fcf8e3;
    border-left-style: double;
    border-right-style: double;
    font-family: 'jazeera',FontAwesome;
    font-size: 13px!important;
}
div#yahay1 {
    text-align: center;
    border-radius: 0 0 7px 7px;
    width: 100%;
    position: absolute;
    top: 173px;
    right: 0;
}
a#yahay7 {
    top: -28px;
    color: #fff;
    display: inline-block;
    border: .5px solid#ffffff6e!important;
    font-size: small;
    padding: 0 2px;
    margin-left: 2px;
    border-radius: 4px;
    border: #8e210b00;
    border-right: 8px #000000 solid!important;
    border-right-style: double!important;
    border-left: 9px #000000 solid!important;
    border-left-style: double!important;
    background-color: #40404f!important;
font-family: jazeera,FontAwesome;
}
.btn.btn-primary.btn-sm {
    border-radius: 0 0 30px 30px!important;
    border-bottom: 0 solid#fff!important;
    border-right: .5px solid#fff!important;
    border-left: .5px solid#fff!important;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12),0 -3px 1px -2px rgba(0,0,0,.2)!important;
    background-image: radial-gradient(circle,#484848,#888,#000)!important;
font-family: jazeera,FontAwesome;
}

ul.nav.nav-tabs>li>a {
color: #fefffc;
background: 0 0;
    margin: auto;
    text-align: center;
    width: 100%;
    border-radius: 7px;
    margin-top: 2px;
    font-family: jazeera,FontAwesome;
    border-right: 2px ridge !important;
    border-left: 3px ridge !important;
    background-image: linear-gradient( 
90deg
 ,#776a6b 0,#333333 10%,#333333 51%,#333333 89%,#776a6b 100%);
    border: 1px solid #f0ad4e;
background-color: inherit!important;
    height: 32px;
    text-align: center;
    border-radius: 6px;
    margin: 2px 0;
    padding: 4px 0!important;
    width: 113px!important;
    margin-left: 5px!important;
font-family: 'jazeera',FontAwesome;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #e6cb0a;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
font-family: jazeera,FontAwesome;
}
label.fl.label.loginstat {
    position: absolute;
    left: 0px;
    float: left !important;
    border-radius: 0px 7px 7px 0px !important;
    margin-top: -373px !important;
    font-family: 'jazeera',FontAwesome;
    margin-left: -1px !important;
}
div#l2 button, div#l3 button {
position: absolute;
    width: 110px;
    margin-top: 0;
    padding: 1px 2px;
    text-align: center;
    border: none!important;
background: linear-gradient( 
90deg
 ,#776a6b 0,#333333 10%,#333333 51%,#333333 89%,#776a6b 100%);
    outline: none;
    border-radius: 4px;
    font-size: .9rem;
    color: #fff;
    cursor: pointer;
    transition: .3s;
    font-family: jazeera,FontAwesome;
}
div#l1, div#l2, div#l3 {
    border-bottom: 2px solid;
    margin-bottom: 15px;
    border-top: 4px solid;
    margin-top: 0;
    border-color: #1f1f26;
font-family: jazeera,FontAwesome;border-bottom: 2px solid;
    margin-bottom: 15px;
    border-top: 4px solid;
    margin-top: 0;
    border-color: #1f1f26;
    font-family: jazeera,FontAwesome;
    border-bottom: 2px solid;
    margin-bottom: 2px;
    border-top: 4px solid;
    margin-top: 0;
    border-color: #1f1f26;
    border-radius: 15px;
    height: 113px;
    font-family: jazeera,FontAwesome;
    width: 101%;
    border-right: ridge;
    border-left: ridge;
    position: relative;
    /* top: -47px; */
    background: -webkit-linear-gradient( 
332deg ,rgba(166,206,214,0) 25%,transparent 0,rgba(43,135,153,0) 50%,hsla(0,0%,100%,.2) 0,hsla(0,0%,100%,.2) 75%,transparent 0,transparent)!important;
    background-color: #e8e8e8 !important;
}
div#l2 input#pass1, div#l3 input#pass2 {
    width: 68%;
    height: 35px;
    margin-bottom: .2rem;
    font-size: .9rem;
    padding: 0 .5em;
    text-align: left;
    color: #ae0b0a;
    margin-top: 2px;
    border-radius: 10px 0 10px 0;
    border: 2px solid #ddd!important;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
    font-family: jazeera,FontAwesome;

}
div#l2 input#pass1, div#l3 input#pass2 {
width: 68%;
    height: 35px;
    margin-bottom: .2rem;
    font-size: .9rem;
    padding: 0 .5em;
    text-align: left;
    color: #ae0b0a;
    margin-top: 2px;
    border-radius: 10px 0 10px 0;
    border: 2px solid #ddd!important;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
font-family: jazeera,FontAwesome;
}
div#l2 input#u2, div#l3 input#u3 {
width: 68%;
    height: 35px;
    margin-bottom: .2rem;
    font-size: .9rem;
    padding: 0 .5em;
    text-align: left;
    color: #ae0b0a;
    margin-top: 2px;
    border-radius: 10px 0 10px 0;
    border: 2px solid #ddd!important;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
    font-family: jazeera,FontAwesome;
}
div#l1 input#u1 {
    width: 85%;
    height: 35px;
    margin-bottom: .2rem;
    font-size: .9rem;
    padding: 0 .5em;
    text-align: left;
    color: #ae0b0a;
    margin-left: 28px;
    margin-top: 2px;
    border-radius: 10px 0 10px 0;
    border: 2px solid #ddd!important;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
font-family: jazeera,FontAwesome;
}
div#l1 button {
display: block;
    width: 50%;
    margin-left: 90px;
    padding: 1px 2px;
    text-align: center;
    border: none;
    background: linear-gradient( 
90deg
 ,#776a6b 0,#333333 10%,#333333 51%,#333333 89%,#776a6b 100%);
    top: 74px;
    border-radius: 4px;
    font-size: .9rem;
    color: #fff;
    cursor: pointer;
    transition: .3s;
}
.fr.borderg {
    border: 0px;
    top: -186px;
    height: 0;
}
.fr.borderg, .fr.borderg a {
    font-size: 10px!important;
    padding: 0 5px!important;
    position: relative;
    color: #d00303;
    font-family: jazeera,FontAwesome;


label.fl.nosel.label.pnhead {
    background-color: #101c24;
}

label.fl.nosel.label.pnhead {
    color: #fff;
    background-color: #885867;
    font-size: 15.8px!important;
    padding: 8px;
    width: 85%;
    display: block;
}
img.fl.fitimg.hand.u-pic {
    border-radius: 5px!important;
    margin-top: 4px!important;
    margin-right: 4px!important;
    padding: 18px;
    border: 1px solid#f3f3f3;
    background-size: cover;
}
}
.border {
    border: 1px solid #e8e8e8;
    border-color: #e8e8e8 !important;
}
a.btn.minix.btn-primary.fa.fa-heart.fr {
    border-left: 1px solid #d3d3d3;
    border-top: 1px solid #d3d3d3;
    border-right: 1px solid #a6a6a6;
    border-bottom: 1px solid #a6a6a6;
    border-radius: 3px;
}
.fa-heart:before {
content: " "!important;
}
a.btn.minix.fa.fa-times.fr, a.btn.minix.fa.fa-thumbs-up.fr, a.btn.minix.fa.fa-comment.fr {
    border-left: 1px solid #d3d3d3;
    border-top: 1px solid #d3d3d3;
    border-right: 1px solid #a6a6a6;
    border-bottom: 1px solid #a6a6a6;
    border-radius: 3px;
}

a.btn.minix.fa.fa-times.fr, a.btn.minix.fa.fa-thumbs-up.fr, a.btn.minix.fa.fa-comment.fr {
    border-left: 1px solid #d3d3d3;
    border-top: 1px solid #d3d3d3;
    border-right: 1px solid #a6a6a6;
    border-bottom: 1px solid #a6a6a6;
    border-radius: 3px;
}
a.btn.minix.fa.fa-comment.fr {
    color: #fff !important;
    border-radius: 4px;
    padding: 1px 4px 2px 5px;
    margin-top: 6px;
    background-repeat: repeat-x;
}
a.btn.minix.fa.fa-comment:before {
    content: " تعليق";
    display: inline !important;
    padding: 2px 0 0 2px;
}

span.fr, .fa-ban:before, .fa-ban:before, .fa-search:before, .fa-ban:before, .fa-ban:before, .fa-diamond:before, .fa-comment:before, .fa-envelope-o:before {
    display: none;
}
.fa-comment:before {
    content: "\f075";
}
a.btn.minix.btn-primary.fa.fa-heart.fr {
    color: #fff!important;
    border-radius: 4px;
    padding: 1px 4px 2px 5px;
    margin-top: 6px;
    background-repeat: repeat-x;
    background-image: linear-gradient(to bottom,#d9534f 0,#c12e2a 100%);
    margin-left: 3px;
}
.fl.mini.fa.fa-bullhorn.btn.btnn-default {
    font-size: 14px !important;
    width: 100%;
    background-color: #40404f !important;
    color: #fff;
    text-align: center;
    border-radius: 10%;
    margin-bottom: 3px;
    margin-top: 1px;
    height: 25px;
    padding: 5px 0;
    margin-left: 1px;
}
input[type=jfa-w] {
    font-size: 15px !important;
    width: 100%;
    text-align: center;
    color: #885867;
    border-radius: 14%;
    margin-bottom: 6px;
    margin-top: 1px;
    margin-left: 3px;
}
div#d2bc .uzr.fl.dots.mini.u-msg {
    width: 80%;
    padding: 10px;
    text-align: center;
    outline-offset: -6px;
    background: hsla(0,0%,50.2%,.23921568627450981);
    border-radius: 5px;
    border: 1px solid #2c2c2c;
    box-shadow: 8px 3px 5px -3px #000;
    margin-bottom: 24px;
    margin-left: 40px;
    overflow: auto;
    height: 61px;
    height: 79px;
    font-size: small;
}


a.fl.fa.fa-ban.btn.ui-corner-all.ui-shadow.ui-btn.ui-btn-inline.ukick.borderg, a.fl.fa.fa-ban.btn.ui-corner-all.ui-shadow.ui-btn.ui-btn-inline.meiut.borderg, a.fl.fa.fa-ban.btn.ui-corner-all.ui-shadow.ui-btn.ui-btn-inline.uban.borderg, a.fl.fa.fa-user-times.btn.ui-corner-all.ui-shadow.ui-btn.ui-btn-inline.urkick.borderg, a.fl.fa.fa-ban.btn.ui-corner-all.ui-shadow.ui-btn.ui-btn-inline.udelpic.borderg, a.fl.fa.fa-search.btn.ui-corner-all.ui-shadow.ui-btn.ui-btn-inline.uh.borderg, a.fl.fa.fa-diamond.btn.ui-corner-all.ui-shadow.ui-btn.ui-btn-inline.ugift.borderg, a.fl.fa.fa-ban.btn.ui-corner-all.ui-shadow.ui-btn.ui-btn-inline.umute.borderg, a.fl.fa.fa-heart.btn.ui-corner-all.ui-shadow.ui-btn.ui-btn-inline.ulike.borderg, a.fl.fa.fa-envelope-o.btn.ui-corner-all.ui-shadow.ui-btn.ui-btn-inline.unot.borderg, a.fl.fa.fa-comment.btn.ui-corner-all.ui-shadow.ui-btn.ui-btn-inline.upm.borderg {
    font-weight: 700;
    padding: .2em 0;
    background: rgba(254,255,252,.3137254901960784);
    width: 100px!important;
    height: 28px!important;
    margin-bottom: 4px;
    border: 2px solid #000;
    border-radius: 15px 20px 0 15px;
    font-family: jazeera,FontAwesome;
}
.uzr.fl.corner.borderg.mm, .uzr.fl.corner.borderg.mm {
    margin: 1px 0;
    border-Right: 3px solid #ff6094;
    border-Left: 3px solid #ff6094;
    border-Top: 1px solid #ff6094;
    border-bottom: 1px solid rgb(81, 72, 72);
    padding-Top: 3px;
    /* border-Radius: 0px !important; */
    border-radius: 0px !important;
    border: none !important;
    border-top: 1px #eee solid !important;
    border-bottom: 1px #ccc solid !important;
}

.pmsgc {
background: #0000001b;
    outline: 1px dashed #d9534f;
    outline-offset: -5px;
    background-size: auto;
    background-position: 100% 0%;
    background-color: #33333361 !important;
}
.hmsg {
    background: #E3F2F9 !important;
    font-style: normal;
    color: #1565C0;
}
.uzr.fl.corner.borderg.mm {
    border-left: 2px solid #333333;
    margin-left: 0!important;
    border-radius: 0!important;
    width: 100%!important;
    border-top: .7px solid #eee!important;
    border-bottom: .7px solid #eee!important;
    margin-bottom: 0!important;
    line-height: 26px;
}
.nav.nav-tabs.fl {
border-radius: 7px 7px 0 0;
    border: none;
    border-left: 1px solid#333333!important;
    border-right: 1px solid#3d3b3b!important;
    border-top: 4px solid#373636!important;
    padding: 3px 1px 7px;
    background-color: #f5f8fa;
    border-bottom: 1px solid#333333!important;
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 75%), 0 0 0 #000;
    width: 95%;
    margin-top: 9px;
}

.isbnr.fr {
position: relative;
    z-index: 0;
    border-radius: 2px;
    overflow: hidden;
    padding: 2px;
}
.isbnr.fr:before {
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: 50% 50%, 50% 50%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-image: linear-gradient(#595c5d, #0e1113), linear-gradient(#4a4a4a, #444444), linear-gradient(#888888, #696969), linear-gradient(#525252, #000000);
    -webkit-animation: rotateThis 3s linear infinite;
    animation: rotateThis 3s linear infinite;
}
#asim10 {
    text-decoration: dotted;
    color: #fff;
    margin-top: -23px!important;
    margin-left: -10px!important;
    display: inline-block;
    float: right;
    margin-right: 1.5px!important;
    border-bottom: 0 solid#fff!important;
    border-right: .5px solid#fff!important;
    border-top: .5px solid#fff!important;
    border-left: .5px solid#fff!important;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12),0 -3px 1px -2px rgba(0,0,0,.2)!important;
}
.borderg.corner.fl.u-topic {
padding: 3px;
    min-height: 28px!important;
    border-right: 5px solid;
    border-left: 5px solid;
    border-color: #d2d2d2;
    border-left-style: groove;
    border-right-style: ridge;
    border-radius: 3px!important;
}

}
.label-warning {
    background-color: #f0ad4e;
}
div#d2bc .uzr.fl.dots.mini.u-msg {
    width: 80%;
    padding: 10px;
    text-align: center;
    outline-offset: -6px;
    background: hsla(0,0%,50.2%,.23921568627450981);
    border-radius: 5px;
    border: 1px solid #2c2c2c;
    box-shadow: 8px 3px 5px -3px #000;
    margin-bottom: 24px;
    margin-left: 40px;
    overflow: auto;
    height: 61px;
    height: 79px;
    font-size: small;
}
img.asim.aetar {
cursor: pointer;
    text-align: center;
    padding-top: .3em;
    border: 1px solid #000;
    margin-top: 3px;
    height: 32px;
    font-weight: 700;
    position: relative;
    margin-bottom: .2rem;
    border: 1px solid #FFE0F6 !important;
    font-family: 'jazeera',FontAwesome;
    border: 1px solid #FFE0F6 !important;
    background: linear-gradient( 
-45deg , #cc31cc, #ff00ff2e, #635e63, #228eaf9e);
    background-size: 400% 400%;
    animation: asim1 10s ease infinite;
    Color: #fff;
animation: asim1 10s ease infinite;
}
   @keyframes asim1 {
    0% {
        background-position: 30% 0%;
    }
    50% {
        background-position: 100% 20%;
    }
 80% {
        background-position: 30% 20%;
    }
    100% {
        background-position: 0% 50%;
    }
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-corner {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #050505;
    border: 71px none #fff;
    border-radius: 31px;
    background-image: -webkit-linear-gradient( 
45deg ,rgba(255,255,255,.2) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.2) 50%,rgba(255,255,255,.2) 75%,transparent 75%,transparent)!important;
}
::-webkit-scrollbar-track {
    background: #f8f9fa;
    border: 65px none #fff;
    border-radius: 34px;
}
div#dpnl.dpnl.bg.tab-content {
    padding: 2px 5px;
    border-radius: 10px;
    box-shadow: 5px 4px 30px #000;
    border: 3px solid hsla(0,0%,100%,.8588235294117647)!important;
    background: hsla(0,0%,100%,.8588235294117647)!important;
animation: fuck 1s !important;
}
 @keyframes fuck {0%{-webkit-transform:translate3d(100%,0,0);
    {
        {transform:translate3d(100%,0,0);visibility:visible }
        to
    }
    {
        -webkit-transform:translateZ(0);transform:translateZ(0)}
    }
}
ul.nav.nav-tabs.fl li .fa-user-plus:before {
    color: red;
    content: "\f097";
    -webkit-animation: mymove .5s infinite;
    animation: mymove .5s infinite;
}
@-webkit-keyframes mymove {
  from {
    color:red;
  }
  to {
    color:#FFF;
  }
}
.label.tc.border.btn.fl {
    cursor: pointer;
    text-align: center;
    padding-top: .3em;
    border: 1px solid #000;
    margin-top: 3px;
    height: 32px;
    font-weight: 700;
    position: relative;
    margin-bottom: .2rem;
    border-radius: 40px 40px 0px 40px !important;
    border: 1px solid #FFE0F6 !important;
    font-family: 'jazeera',FontAwesome;
border-radius: 0px 45px 37px 40px !important;
    border: 1px solid #FFE0F6 !important;
    background: linear-gradient( 
-45deg , #cc31cc, #ff00ff2e, #635e63, #228eaf9e);
    background-size: 400% 400%;
    animation: asim 10s ease infinite;
    Color: #fff;
}
   @keyframes asim {
    0% {
        background-position: 30% 0%;
    }
    50% {
        background-position: 100% 20%;
    }
 80% {
        background-position: 30% 20%;
    }
    100% {
        background-position: 0% 50%;
    }

}
div#dpnl.dpnl.bg.tab-content {
    padding: 2px 5px;
    border-radius: 10px;
    box-shadow: 5px 4px 30px #000;
    border: 3px solid hsla(0,0%,100%,.8588235294117647)!important;
    background: hsla(0,0%,100%,.8588235294117647)!important;
animation: fuck 1s !important;
}
 @keyframes fuck {0%{-webkit-transform:translate3d(100%,0,0);
    {
        {transform:translate3d(100%,0,0);visibility:visible }
        to
    }
    {
        -webkit-transform:translateZ(0);transform:translateZ(0)}
    }
}

.u-pic.lazy.fitimg {
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
animation: seo 3.5s !important;
    height: auto;
    width: 158px;
    height: 158px;
    border-radius: 20px;
    background-color: #ffffff00;
    background-repeat: no-repeat;
    background-image: linear-gradient(#41d8fd, #337caf), linear-gradient(#ea44ca, #8c1d8e), linear-gradient(#48fcfd, #b993bf), linear-gradient(#b084b7, #48fdfe);
    -webkit-animation: rotateThis 3s linear infinite;
    animation: rotateThis 3s linear infinite;
}
@keyframes seo {0%{-webkit-transform:translate3d(100%,0,0);
    {
        {transform:translate3d(100%,0,0);visibility:visible }
        to
    }
    {
        -webkit-transform:translateZ(0);transform:translateZ(0)}
}  
 a.fl.fa.fa-star.btn.ui-corner-all.ui-shadow.ui-btn.ui-btn-inline.ubnr.borderg {
font-weight: 700;
    padding: .2em 0;
    background: rgba(254,255,252,.3137254901960784);
    width: 100px!important;
    height: 28px!important;
    margin-bottom: 4px;
    border: 2px solid #000;
    border-radius: 15px 20px 0 15px;
    font-family: jazeera,FontAwesome;
}
div#isfil.corner.border.label.label-primary {
font-size: 0.6rem;
    text-align: center;
    margin: -14px auto 0 auto;
    width: 50%;
background-color: #020202;
    border-radius: 5px;
    line-height: 1.6;
font-family: jazeera,FontAwesome;
    font-size: 13px!important;
}
div.hand.corner {
-webkit-animation: swoopOut 3s 1 ease forwards;
background-image: radial-gradient(circle,#484848,#888,#000)!important;
    font-family: jazeera,FontAwesome;
    font-size: 11px!important;
    text-align: center;
    color: #ffffff;
    min-width: 180px;
    max-width: 260px;
    border: 1px solid #f8f9fa;
    z-index: 2000;
    background-color: #efefef;
    position: absolute;
    top: 30%;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: -.2rem;
    left: 15px
} 

@-webkit-keyframes swoopOut {
  100% {
    position:absolute;
    left:50px;
    visibility:hidden;
  }
  24% {
    position:absolute;
    left:50px;
  }
